{% extends "base.html" %}

{% block app_content %}
	<div class="row justify-content-center">
		<div id="year-options" class="btn-group btn-group-justified"></div>
    <svg id="d3-viewport" width="100%" height="600"></svg>
		<div class="monospace">{{data}}</div>
	</div>
{% endblock %}

{% block scripts %}
	{{super()}}	
	<script type="text/javascript">
		var task_results = JSON.parse({{data | tojson }});
	</script>
  <script type="text/javascript" src="../../static/js/graph_viewer.js"></script> 
  <script type="text/javascript" src="../../static/js/bigram_viewer.js"></script>
{% endblock %}