{% extends 'base.html' %}

{% block scripts %}
	{{ super() }}
  <script type="text/javascript" src="/static/js/jobs.js"></script>		
{% endblock %}

{% block app_content %}
	<table class="table">
		<thead>
			<th scope="col">#</th>
			<th scope="col">Task</th>
			<th scope="col">Job Name</th>
			<th scope="col">Status</th>
			<th scope="col"></th>
			<th scope="col">Started</th>
			<th scope="col">Finished</th>
			<th scope="col">Progress</th>
			<th scope="col">Description</th>
			<th scope="col"></th>
		</thead>
		<tbody id="jobs">
			{% for i in range(jobs|length) %}
				<tr id="{{ jobs[i].id }}">
					<th scope="row">{{ i }}</th>
					<td id="id" title="{{ jobs[i].id }}">{{ jobs[i].task }}</td>
					<td id="name">{{ jobs[i].name }}</td>
					<td id="status">{{ jobs[i].status }}</td>
					<td id="view-results">
						{% if jobs[i].status == "Completed" %}
							<a href="jobs/view/{{jobs[i].id}}">View Results</a>
						{% endif %}
					</td>
					<td id="time-started">{{ jobs[i].time_started }}</td>
					<td id="time-finished">{{ jobs[i].time_finished }}</td>
					<td id="progress">{{ jobs[i].progress }}</td>
					<td id="description">{{ jobs[i].description }}</td>
					<td id="action">
						{% if jobs[i].status in ["Queued", "Running"] %}
							<a href="jobs/kill/{{jobs[i].id}}">Abort Job</a>
						{% elif jobs[i].status not in ["Aborting"] %}
							<a href="jobs/delete/{{jobs[i].id}}">Delete Job</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}