{% extends 'base.html' %}

{% block app_content %}
	<a class="btn btn-primary" href="/schedule" role="button">Schedule Job</a>
	<table class="table">
		<thead>
			<th scope="col">#</th>
			<th scope="col">Task</th>
			<th scope="col">Job Name</th>
			<th scope="col">Status</th>
			<th scope="col"></th>
			<th scope="col">Started</th>
			<th scope="col">Finished</th>
			<th scope="col">Progress</th>
			<th scope="col">Description</th>
			<th scope="col"></th>
		</thead>
		<tbody>
			{% for i in range(jobs|length) %}
				<tr>
					<th scope="row">{{ i }}</th>
					<td title="{{ jobs[i].id }}">{{ jobs[i].task }}</td>
					<td>{{ jobs[i].name }}</td>
					<td>{{ jobs[i].get_status() }}</td>
					<td>
						{% if jobs[i].get_status() == "Completed" %}
							<a href="jobs/view/{{jobs[i].id}}">View Results</a>
						{% endif %}
					</td>
					<td>{{ jobs[i].time_started }}</td>
					<td></td>
					<td>{{ jobs[i].get_progress() }}</td>
					<td>{{ jobs[i].description if jobs[i].description else "" }}</td>
					<td>
						{% if jobs[i].get_status() in ["Queued", "Running"] %}
							<a href="jobs/kill/{{jobs[i].id}}">Abort Job</a>
						{% else %}
							<a href="jobs/delete/{{jobs[i].id}}">Delete Job</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}