{% extends "base.html" %}

{% block app_content %}
	<div class="row justify-content-center">
		<a class="btn btn-primary margin-bottom" href="/jobs" role="button">View All Jobs</a>
	
		<div class="chart-container margin-bottom">
			<canvas id="chart" width="400" height="400"></canvas>
		</div>

		<div class="monospace">
			{{ data }}
		</div>
	</div>
{% endblock %}

{% block scripts %}
	{{super()}}	
	<script type="text/javascript">
		var task_results = JSON.parse({{data | tojson }});
	</script>
  <script type="text/javascript" src="/static/js/ngram_viewer.js"></script>		
{% endblock %}