{% extends 'base.html' %}

{% block scripts %}
	{{ super() }}
  <script type="text/javascript" src="/static/js/schedule.js"></script>		
{% endblock %}

{% block app_content %}
<div class="row">
	<div class="col-md-4">
	  <form id="schedule-form" method="POST" class="form" role="form">
	    {{ form.hidden_tag() }}
	    {% for field in form %}
	      {% if field.type not in ["HiddenField", "CSRFTokenField"] %}
	        {{ render_field(field) }}
	      {% endif %}
	    {% endfor %}
	  </form>
	</div>
</div>
{% endblock %}
