body {
	padding-top: 15px;
}

.chart-container {
	padding-top: 15px;
	padding-right: 30px;
}

#make-ngram {
	margin-left: 5px;
}

.ngrams {
	margin-top: 30px;

}

.margin-top {
	margin-top: 30px;
}

.margin-bottom {
	margin-bottom: 30px;
}

.delete-ngram {
	float: right;
	cursor: pointer;
}

.list-group-item {
	height: 45px;
}

.monospace {
	font-family: monospace;
	white-space: pre-wrap;
}

.container-fluid {
	max-width: 90%;
}