{% extends "base.html" %}

{% block app_content %}
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<!---<input type="checkbox" id="divide"></input>-->
			<input type="text" id="ngram" value="carcinogen"></input>
			<button id="make-ngram" class="btn">Ngram</button>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="ngrams col-sm-4">
			<ul id="ngrams-list" class="list-group">
				<!--<li class="list-group-item" id="carcinogen">
					<div class="d-flex align-items-center">
						
						<span class="col-md-11">carcinogen</span>
						<i class="float-right delete-ngram fa fa-minus align-middle"></i>
					</div>
				</li>-->
			</ul>
		</div>
		<div class="chart-container">
			<canvas id="chart" width="400" height="400"></canvas>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	{{super()}}	
  <script type="text/javascript" src="/static/js/script.js"></script>		
{% endblock %}